body {
    font-family: Arial, sans-serif;
    background-color: #105c88;
    color: #333;
}

h1 {
    color: #007bff;
}

form {
    background: #105c88;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: aqua;
}

main {
    background-color: #105c88; 
    padding: 20px; 
    border-radius: 8px; 
    margin: 20px auto; 
    max-width: 1200px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

body{
background-color: #105c88;
}